@font-face {
    font-family: rewrite;
    src: url(fonts/Rewrite.ttf) format('truetype');
  }

@font-face {
    font-family: vanilla;
    src: url('fonts/Vanilla Creamy.ttf') format('truetype');
  }
 
 .App {
  font-family: reite;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 3rem;
}

.App h1 {
  font-family: reite;
  width: 100%;
  font-size: 5rem;
  margin-bottom: 4rem;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  color: rgb(238, 222, 222);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: linear-gradient(to top, #1536a1 , #7626b8 ) no-repeat fixed ;
  color: rgb(24, 165, 221);
  border-radius: 50px;
  
}


